In [1]:
# Source of the DS: https://archive.ics.uci.edu/dataset/577/codon+usage

In [46]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score, accuracy_score, confusion_matrix


from imblearn.over_sampling import RandomOverSampler, SMOTE, BorderlineSMOTE
from sklearn.feature_selection import SelectKBest, mutual_info_classif, f_classif
from sklearn.ensemble import RandomForestClassifier

from sklearn.model_selection import StratifiedKFold, cross_val_score, GridSearchCV
from imblearn.pipeline import Pipeline
from statsmodels.stats.outliers_influence import variance_inflation_factor
from collections import Counter

from sklearn.ensemble import IsolationForest

In [3]:
# Load the DS
df = pd.read_csv('datasets/codon_usage.csv')
df.head()

C:\Users\Home\AppData\Local\Temp\ipykernel_32652\2935273154.py:2: DtypeWarning: Columns (5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('datasets/codon_usage.csv')

,Kingdom,DNAtype,SpeciesID,Ncodons,SpeciesName,UUU,UUC,UUA,UUG,CUU,...,CGG,AGA,AGG,GAU,GAC,GAA,GAG,UAA,UAG,UGA
0,vrl,0,100217,1995,Epizootic haematopoietic necrosis virus,0.01654,0.01203,0.00050,0.00351,0.01203,...,0.00451,0.01303,0.03559,0.01003,0.04612,0.01203,0.04361,0.00251,0.00050,0.00000
1,vrl,0,100220,1474,Bohle iridovirus,0.02714,0.01357,0.00068,0.00678,0.00407,...,0.00136,0.01696,0.03596,0.01221,0.04545,0.01560,0.04410,0.00271,0.00068,0.00000
2,vrl,0,100755,4862,Sweet potato leaf curl virus,0.01974,0.0218,0.01357,0.01543,0.00782,...,0.00596,0.01974,0.02489,0.03126,0.02036,0.02242,0.02468,0.00391,0.00000,0.00144
3,vrl,0,100880,1915,Northern cereal mosaic virus,0.01775,0.02245,0.01619,0.00992,0.01567,...,0.00366,0.01410,0.01671,0.03760,0.01932,0.03029,0.03446,0.00261,0.00157,0.00000
4,vrl,0,100887,22831,Soil-borne cereal mosaic virus,0.02816,0.01371,0.00767,0.03679,0.01380,...,0.00604,0.01494,0.01734,0.04148,0.02483,0.03359,0.03679,0.00000,0.00044,0.00131

In [4]:
df.info()
# that is a huge ds

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13028 entries, 0 to 13027
Data columns (total 69 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Kingdom      13028 non-null  object
 1   DNAtype      13028 non-null  int64
 2   SpeciesID    13028 non-null  int64
 3   Ncodons      13028 non-null  int64
 4   SpeciesName  13028 non-null  object
 5   UUU          13028 non-null  object
 6   UUC          13028 non-null  object
 7   UUA          13028 non-null  float64
 8   UUG          13028 non-null  float64
 9   CUU          13028 non-null  float64
 10  CUC          13028 non-null  float64
 11  CUA          13028 non-null  float64
 12  CUG          13028 non-null  float64
 13  AUU          13028 non-null  float64
 14  AUC          13028 non-null  float64
 15  AUA          13028 non-null  float64
 16  AUG          13028 non-null  float64
 17  GUU          13028 non-null  float64
 18  GUC          13028 non-null  float64
 19  GUA          13028 non-null  float64
 20  GUG          13028 non-null  float64
 21  GCU          13028 non-null  float64
 22  GCC          13028 non-null  float64
 23  GCA          13028 non-null  float64
 24  GCG          13028 non-null  float64
 25  CCU          13028 non-null  float64
 26  CCC          13028 non-null  float64
 27  CCA          13028 non-null  float64
 28  CCG          13028 non-null  float64
 29  UGG          13028 non-null  float64
 30  GGU          13028 non-null  float64
 31  GGC          13028 non-null  float64
 32  GGA          13028 non-null  float64
 33  GGG          13028 non-null  float64
 34  UCU          13028 non-null  float64
 35  UCC          13028 non-null  float64
 36  UCA          13028 non-null  float64
 37  UCG          13028 non-null  float64
 38  AGU          13028 non-null  float64
 39  AGC          13028 non-null  float64
 40  ACU          13028 non-null  float64
 41  ACC          13028 non-null  float64
 42  ACA          13028 non-null  float64
 43  ACG          13028 non-null  float64
 44  UAU          13028 non-null  float64
 45  UAC          13028 non-null  float64
 46  CAA          13028 non-null  float64
 47  CAG          13028 non-null  float64
 48  AAU          13028 non-null  float64
 49  AAC          13028 non-null  float64
 50  UGU          13028 non-null  float64
 51  UGC          13028 non-null  float64
 52  CAU          13028 non-null  float64
 53  CAC          13028 non-null  float64
 54  AAA          13028 non-null  float64
 55  AAG          13028 non-null  float64
 56  CGU          13028 non-null  float64
 57  CGC          13028 non-null  float64
 58  CGA          13028 non-null  float64
 59  CGG          13028 non-null  float64
 60  AGA          13028 non-null  float64
 61  AGG          13028 non-null  float64
 62  GAU          13028 non-null  float64
 63  GAC          13028 non-null  float64
 64  GAA          13028 non-null  float64
 65  GAG          13028 non-null  float64
 66  UAA          13028 non-null  float64
 67  UAG          13028 non-null  float64
 68  UGA          13028 non-null  float64
dtypes: float64(62), int64(3), object(4)
memory usage: 6.9+ MB

In [5]:
df.columns

Index(['Kingdom', 'DNAtype', 'SpeciesID', 'Ncodons', 'SpeciesName', 'UUU',
       'UUC', 'UUA', 'UUG', 'CUU', 'CUC', 'CUA', 'CUG', 'AUU', 'AUC', 'AUA',
       'AUG', 'GUU', 'GUC', 'GUA', 'GUG', 'GCU', 'GCC', 'GCA', 'GCG', 'CCU',
       'CCC', 'CCA', 'CCG', 'UGG', 'GGU', 'GGC', 'GGA', 'GGG', 'UCU', 'UCC',
       'UCA', 'UCG', 'AGU', 'AGC', 'ACU', 'ACC', 'ACA', 'ACG', 'UAU', 'UAC',
       'CAA', 'CAG', 'AAU', 'AAC', 'UGU', 'UGC', 'CAU', 'CAC', 'AAA', 'AAG',
       'CGU', 'CGC', 'CGA', 'CGG', 'AGA', 'AGG', 'GAU', 'GAC', 'GAA', 'GAG',
       'UAA', 'UAG', 'UGA'],
      dtype='object')

In [6]:
# Let's check the duplicated rows
print(f'DS shape:',df.shape)
number_of_duplicated_rows =df.duplicated().sum()
print(f'Number of duplicated rows:{number_of_duplicated_rows}')
# I dont have duplicated rows

DS shape: (13028, 69)
Number of duplicated rows:0

In [7]:
df['UUU']=pd.to_numeric(df['UUU'],errors='coerce')
df['UUC'] = pd.to_numeric(df['UUC'],errors='coerce')

# The DS is big, let's check the unique values in each column.
for column in df.columns:
        print(f"Unique values in {column}: {df[column].unique()}")

Unique values in Kingdom: ['vrl' 'arc' 'bct' 'phg' 'plm' 'pln' 'inv' 'vrt' 'mam' 'rod' 'pri']
Unique values in DNAtype: [ 0  6  4  2  1  3  7  9  5 11 12]
Unique values in SpeciesID: [100217 100220 100755 ...   9601   9602   9606]
Unique values in Ncodons: [    1995     1474     4862 ...    96254 40662582  8998998]
Unique values in SpeciesName: ['Epizootic haematopoietic necrosis virus' 'Bohle iridovirus'
 'Sweet potato leaf curl virus' ...
 'mitochondrion Pongo pygmaeus pygmaeus' 'Homo sapiens'
 'mitochondrion Homo sapiens']
Unique values in UUU: [0.01654 0.02714 0.01974 ... 0.02314 0.01791 0.00554]
Unique values in UUC: [0.01203 0.01357 0.0218  ... 0.03789 0.03215 0.03555]
Unique values in UUA: [0.0005  0.00068 0.01357 ... 0.03671 0.02285 0.04059]
Unique values in UUG: [0.00351 0.00678 0.01543 ... 0.0004  0.00491 0.00619]
Unique values in CUU: [0.01203 0.00407 0.00782 ... 0.00504 0.0299  0.03415]
Unique values in CUC: [0.03208 0.02849 0.01111 ... 0.04792 0.05322 0.05042]
Unique values in CUA: [0.001   0.00204 0.01028 ... 0.06849 0.06669 0.07604]
Unique values in CUG: [0.0401  0.0441  0.01193 ... 0.04198 0.03973 0.03555]
Unique values in AUU: [0.00551 0.01153 0.02283 ... 0.04923 0.00606 0.02772]
Unique values in AUC: [0.02005 0.0251  0.01604 ... 0.0392  0.06643 0.05137]
Unique values in AUA: [0.00752 0.00882 0.01316 ... 0.0447  0.03677 0.03435]
Unique values in AUG: [0.02506 0.03324 0.0218  ... 0.00718 0.00655 0.00582]
Unique values in GUU: [0.01103 0.00814 0.01625 ... 0.00806 0.0091  0.00629]
Unique values in GUC: [0.0411  0.04071 0.01872 ... 0.01769 0.0023  0.00498]
Unique values in GUA: [0.00902 0.00814 0.01213 ... 0.03062 0.00806 0.03358]
Unique values in GUG: [0.03308 0.03256 0.0107  ... 0.04614 0.03512 0.04154]
Unique values in GCU: [0.01003 0.01085 0.02406 ... 0.00527 0.04286 0.01109]
Unique values in GCC: [0.05013 0.04885 0.01234 ... 0.04682 0.03833 0.03821]
Unique values in GCA: [0.01554 0.01221 0.0144  ... 0.00871 0.00866 0.00576]
Unique values in GCG: [1.103e-02 1.357e-02 5.140e-03 ... 3.000e-05 1.750e-02 1.990e-02]
Unique values in CCU: [0.02356 0.00678 0.01604 ... 0.02842 0.03001 0.02931]
Unique values in CCC: [0.03208 0.02714 0.0146  ... 0.03223 0.04033 0.01979]
Unique values in CCA: [0.01203 0.01221 0.02098 ... 0.03838 0.02328 0.03191]
Unique values in CCG: [5.010e-03 4.070e-03 1.070e-02 ... 1.354e-02 9.000e-05 1.332e-02]
Unique values in UGG: [0.01003 0.01425 0.01728 ... 0.02318 0.01852 0.00433]
Unique values in GGU: [0.01203 0.01221 0.01851 ... 0.00739 0.00655 0.00237]
Unique values in GGC: [0.03158 0.01967 0.00864 ... 0.02873 0.03203 0.02163]
Unique values in GGA: [0.01905 0.02239 0.01172 ... 0.00153 0.0283  0.00503]
Unique values in GGG: [0.02456 0.01289 0.01892 ... 0.02266 0.02287 0.02129]
Unique values in UCU: [0.01353 0.02103 0.01933 ... 0.00536 0.00982 0.00626]
Unique values in UCC: [0.02155 0.01493 0.01419 ... 0.0229  0.02919 0.02995]
Unique values in UCA: [0.00251 0.00407 0.01296 ... 0.02988 0.04265 0.02371]
Unique values in UCG: [6.520e-03 4.750e-03 9.670e-03 ... 8.000e-05 1.148e-02 9.000e-05]
Unique values in AGU: [0.0015  0.00068 0.01337 ... 0.0004  0.02448 0.0209 ]
Unique values in AGC: [0.01554 0.02035 0.01337 ... 0.02825 0.01922 0.01958]
Unique values in ACU: [0.00501 0.0095  0.01851 ... 0.02372 0.02706 0.0328 ]
Unique values in ACC: [0.02105 0.02782 0.01131 ... 0.03481 0.04713 0.05031]
Unique values in ACA: [0.00902 0.01425 0.01419 ... 0.01639 0.03769 0.03446]
Unique values in ACG: [1.053e-02 6.110e-03 1.090e-02 ... 3.000e-05 3.900e-04 1.300e-04]
Unique values in UAU: [0.00501 0.00475 0.02612 ... 0.01765 0.02395 0.00994]
Unique values in UAC: [0.02256 0.02917 0.01275 ... 0.02844 0.03088 0.02223]
Unique values in CAA: [0.00301 0.00407 0.01522 ... 0.01001 0.00502 0.05165]
Unique values in CAG: [0.03108 0.02374 0.02365 ... 0.03748 0.03895 0.03423]
Unique values in AAU: [0.00401 0.00882 0.02962 ... 0.00901 0.01952 0.01351]
Unique values in AAC: [0.02607 0.02917 0.01789 ... 0.03757 0.03326 0.03683]
Unique values in UGU: [0.00251 0.00271 0.01625 ... 0.01596 0.02552 0.01779]
Unique values in UGC: [0.01153 0.01628 0.01234 ... 0.02175 0.01315 0.02461]
Unique values in CAU: [0.00501 0.00204 0.01604 ... 0.00131 0.02211 0.0254 ]
Unique values in CAC: [0.02356 0.01967 0.01687 ... 0.02218 0.0281  0.01802]
Unique values in AAA: [0.01053 0.00543 0.02077 ... 0.01216 0.00831 0.02359]
Unique values in AAG: [0.0386  0.03392 0.03949 ... 0.00728 0.0549  0.04366]
Unique values in CGU: [0.00401 0.00136 0.00864 ... 0.00017 0.00043 0.00039]
Unique values in CGC: [0.00702 0.00678 0.00596 ... 0.01442 0.01044 0.02094]
Unique values in CGA: [0.00401 0.00136 0.00926 ... 0.01843 0.01036 0.01248]
Unique values in CGG: [0.00451 0.00136 0.00596 ... 0.02071 0.02201 0.01037]
Unique values in AGA: [0.01303 0.01696 0.01974 ... 0.0023  0.05124 0.00846]
Unique values in AGG: [0.03559 0.03596 0.02489 ... 0.01681 0.02136 0.01333]
Unique values in GAU: [0.01003 0.01221 0.03126 ... 0.01367 0.00178 0.00451]
Unique values in GAC: [0.04612 0.04545 0.02036 ... 0.02518 0.01901 0.03401]
Unique values in GAA: [0.01203 0.0156  0.02242 ... 0.00873 0.01106 0.00744]
Unique values in GAG: [0.04361 0.0441  0.02468 ... 0.05642 0.00649 0.03689]
Unique values in UAA: [2.510e-03 2.710e-03 3.910e-03 2.610e-03 0.000e+00 1.330e-03 3.300e-04
 1.070e-03 1.380e-03 2.500e-03 2.400e-03 2.330e-03 2.220e-03 2.600e-04
 2.000e-03 2.660e-03 2.320e-03 9.600e-04 7.900e-04 1.400e-03 2.470e-03
 9.400e-04 9.000e-04 6.500e-04 2.800e-04 4.200e-04 1.190e-03 1.350e-03
 1.260e-03 2.900e-04 1.090e-03 8.900e-04 1.110e-03 1.360e-03 4.000e-04
 2.100e-04 4.600e-04 4.500e-04 3.500e-04 1.390e-03 3.400e-04 1.410e-03
 3.700e-04 5.100e-04 6.800e-04 1.643e-02 1.720e-03 1.420e-03 1.540e-03
 1.900e-03 2.020e-03 2.030e-03 2.380e-03 2.070e-03 1.790e-03 2.460e-03
 2.270e-03 1.500e-03 1.370e-03 2.350e-03 1.040e-03 1.550e-03 2.040e-03
 1.730e-03 3.690e-03 9.900e-04 1.490e-03 2.520e-03 1.530e-03 1.300e-03
 1.810e-03 1.960e-03 4.060e-03 1.890e-03 1.590e-03 3.810e-03 2.290e-03
 7.300e-04 1.230e-03 1.470e-03 5.150e-03 1.140e-03 4.100e-04 1.580e-03
 1.700e-03 4.700e-04 1.630e-03 6.070e-03 2.280e-03 3.560e-03 1.750e-03
 3.330e-03 1.710e-03 1.060e-03 2.450e-03 1.680e-03 1.100e-03 6.600e-04
 6.240e-03 2.140e-03 1.600e-03 1.920e-03 1.690e-03 1.910e-03 1.280e-03
 1.020e-03 1.270e-03 8.100e-04 1.560e-03 3.500e-03 1.160e-03 1.760e-03
 5.500e-04 2.670e-03 2.600e-03 2.810e-03 5.600e-04 1.200e-04 1.780e-03
 8.800e-04 6.100e-04 9.700e-04 5.200e-04 9.300e-04 1.440e-03 2.170e-03
 1.310e-03 1.290e-03 1.620e-03 2.680e-03 2.750e-03 3.150e-03 2.100e-03
 1.610e-03 1.900e-04 8.500e-04 9.100e-04 5.700e-04 8.700e-04 3.100e-04
 8.600e-04 7.000e-04 2.910e-03 7.500e-04 8.400e-04 8.300e-04 8.000e-05
 2.000e-05 4.000e-05 1.240e-03 1.320e-03 6.700e-04 1.460e-03 2.340e-03
 5.400e-04 1.150e-03 2.900e-03 1.480e-03 7.700e-04 1.820e-03 1.990e-03
 1.860e-03 1.120e-03 1.180e-03 7.800e-04 2.550e-03 4.800e-04 1.930e-03
 1.300e-04 6.900e-04 5.000e-04 7.100e-04 2.110e-03 3.200e-04 3.000e-04
 9.200e-04 1.740e-03 1.326e-02 2.200e-04 1.450e-03 1.030e-03 1.640e-03
 1.250e-03 1.770e-03 8.000e-04 2.500e-04 5.900e-04 7.000e-05 6.000e-04
 4.450e-03 1.830e-03 3.410e-03 8.200e-04 1.050e-03 1.000e-03 1.500e-04
 1.200e-03 7.600e-04 1.010e-03 4.300e-04 1.430e-03 4.400e-04 3.800e-04
 4.040e-03 1.670e-03 6.400e-04 3.600e-04 1.700e-04 4.150e-03 6.300e-04
 1.600e-04 5.800e-04 6.200e-04 2.820e-03 2.920e-03 3.130e-03 2.262e-02
 1.850e-03 1.080e-03 2.200e-03 2.010e-03 1.660e-03 4.030e-03 4.110e-03
 1.970e-03 2.060e-03 2.440e-03 2.000e-04 8.880e-03 3.600e-03 2.700e-04
 4.900e-04 3.900e-04 7.400e-04 1.870e-03 3.380e-03 2.120e-03 1.800e-04
 3.250e-03 2.730e-03 3.070e-03 1.650e-03 1.800e-03 1.510e-03 3.700e-03
 2.130e-03 3.580e-03 2.560e-03 9.800e-04 1.880e-03 7.200e-04 4.890e-03
 2.620e-03 1.220e-03 3.950e-03 2.370e-03 1.340e-03 2.360e-03 2.700e-03
 3.670e-03 3.170e-03 4.790e-03 2.990e-03 1.980e-03 5.220e-03 2.400e-04
 1.570e-03 2.840e-03 5.300e-04 2.310e-03 2.420e-03 4.050e-03 2.230e-03
 2.150e-03 2.050e-03 1.400e-04 3.620e-03 3.440e-03 2.830e-03 3.940e-03
 2.720e-03 3.990e-03 3.630e-03 3.610e-03 8.370e-03 3.290e-03 2.240e-03
 2.640e-03 2.690e-03 2.740e-03 3.570e-03 3.420e-03 2.970e-03 3.660e-03
 3.590e-03 2.210e-03 2.930e-03 3.530e-03 4.940e-03 5.310e-03 3.190e-03
 3.480e-03 4.240e-03 3.300e-03 3.310e-03 2.950e-03 3.430e-03 3.490e-03
 4.020e-03 2.580e-03 2.650e-03 2.880e-03 2.300e-03 2.410e-03 3.800e-03
 2.960e-03 3.790e-03 3.540e-03 3.640e-03 3.960e-03 2.590e-03 2.770e-03
 3.470e-03 2.800e-03 2.790e-03 4.720e-03 4.420e-03 2.160e-03 4.220e-03
 3.160e-03 1.130e-03 1.210e-03 4.440e-03 3.340e-03 3.260e-03 3.020e-03
 3.030e-03 2.540e-03 3.350e-03 2.780e-03 5.000e-03 4.500e-03 4.910e-03
 4.670e-03 3.210e-03 2.390e-03 2.250e-03 3.450e-03 5.050e-03 5.040e-03
 3.120e-03 1.170e-03 3.270e-03 2.850e-03 3.180e-03 3.720e-03 9.500e-04
 3.760e-03 1.000e-04 1.520e-03 2.570e-03 6.250e-03 4.520e-03 3.820e-03
 3.000e-05 5.000e-05 1.840e-03 2.480e-03 8.410e-03 1.950e-03 3.390e-03
 7.140e-03 3.140e-03 2.630e-03 1.100e-04 3.400e-03 4.000e-03 4.170e-03
 1.940e-03 3.890e-03 3.010e-03 2.300e-04 2.530e-03 3.040e-03 3.510e-03
 9.000e-05 4.560e-03 2.980e-03 2.190e-03 4.530e-03 2.860e-03 5.090e-03
 3.710e-03 3.000e-03 2.760e-03 4.660e-03 2.430e-03 3.900e-03 2.260e-03
 6.080e-03 6.000e-05 4.140e-03 2.090e-03 2.870e-03 4.950e-03 1.105e-02
 3.100e-03 4.080e-03 2.490e-03 4.360e-03 4.390e-03 3.830e-03 3.550e-03
 2.080e-03 5.080e-03 3.360e-03 3.110e-03 3.090e-03 5.030e-03 4.250e-03
 4.460e-03 4.960e-03 4.160e-03 2.890e-03 3.220e-03 8.070e-03 3.230e-03
 3.920e-03 5.430e-03 3.280e-03 4.410e-03 4.730e-03 4.260e-03 2.940e-03
 5.020e-03 3.520e-03 4.870e-03 4.210e-03 5.320e-03 3.200e-03 5.390e-03
 4.270e-03 2.180e-03 4.540e-03 3.060e-03 5.770e-03 3.850e-03 3.780e-03
 5.300e-03 3.840e-03 3.880e-03 5.760e-03 5.140e-03 4.380e-03 1.249e-02
 6.700e-03 4.400e-03 3.240e-03 9.660e-03 3.370e-03 4.300e-03 4.090e-03
 3.080e-03 5.260e-03 5.170e-03 4.840e-03 4.920e-03 4.476e-02 5.130e-03
 4.760e-03 3.050e-03 4.430e-03 3.980e-03 7.600e-03 4.580e-03 1.389e-02
 3.740e-03 4.310e-03 3.930e-03 6.950e-03 3.730e-03 7.020e-03 4.510e-03
 4.550e-03 6.200e-03 4.230e-03 3.860e-03 4.070e-03 4.200e-03 5.800e-03
 3.770e-03 3.750e-03 4.850e-03 5.970e-03 3.460e-03 8.400e-03 4.120e-03
 4.600e-03 4.340e-03 8.580e-03 1.831e-02 7.520e-03 1.029e-02 5.250e-03
 5.180e-03 5.370e-03 1.942e-02 4.320e-03 5.790e-03 6.130e-03 4.980e-03
 4.290e-03 4.930e-03 6.180e-03 7.300e-03 4.280e-03 5.980e-03 1.064e-02
 4.370e-03 2.691e-02 1.752e-02 1.754e-02 5.200e-03 1.923e-02 6.230e-03
 4.350e-03 1.755e-02 5.160e-03 5.640e-03 7.560e-03 5.100e-03 1.237e-02
 2.026e-02 1.634e-02 2.239e-02 1.593e-02 3.650e-03 5.360e-03 6.340e-03
 7.000e-03 1.944e-02 4.100e-03 4.590e-03 4.630e-03 4.190e-03 4.291e-02
 5.570e-03 7.510e-03 8.660e-03 6.110e-03 4.010e-03 5.710e-03 3.680e-03
 5.070e-03 7.750e-03 1.092e-02 1.087e-02 8.490e-03 5.330e-03 6.450e-03
 2.411e-02 3.320e-03 3.484e-02 2.873e-02 4.107e-02 1.467e-02 3.677e-02
 4.520e-02 3.870e-03 2.438e-02 1.500e-02 5.190e-03 4.130e-03 5.900e-03
 4.770e-03 7.670e-03 4.180e-03 5.950e-03 1.145e-02 5.490e-03 4.640e-03
 4.610e-03 6.020e-03 4.680e-03 3.970e-03 5.290e-03 1.875e-02 1.962e-02
 5.740e-03 7.070e-03 7.130e-03 7.100e-03 7.080e-03 7.460e-03 7.690e-03
 5.780e-03 5.350e-03 7.040e-03 6.820e-03 6.590e-03 6.760e-03 7.110e-03
 6.350e-03 6.160e-03 5.440e-03 6.000e-03 5.890e-03 5.730e-03 7.090e-03
 7.120e-03 7.050e-03 6.460e-03 6.390e-03 6.860e-03 4.710e-03 6.150e-03
 4.750e-03 4.810e-03 5.930e-03 5.840e-03 7.060e-03 1.789e-02 1.223e-02
 8.550e-03 4.990e-03 4.830e-03 5.750e-03 1.852e-02 7.240e-03 7.170e-03
 7.180e-03 7.410e-03 6.050e-03 4.480e-03 8.130e-03 7.370e-03 8.320e-03
 9.940e-03 6.720e-03 8.230e-03 8.590e-03 8.570e-03 6.630e-03 7.220e-03
 6.440e-03 7.210e-03 4.690e-03 5.820e-03 6.980e-03 6.890e-03 8.280e-03
 5.520e-03 4.650e-03 5.550e-03 6.670e-03 5.470e-03 1.818e-02 1.010e-02
 6.510e-03 4.740e-03 7.230e-03 6.610e-03 6.560e-03 7.420e-03 6.940e-03
 6.490e-03 7.400e-03 4.700e-03 1.142e-02 8.910e-03 6.420e-03 6.740e-03
 7.190e-03 7.950e-03 5.850e-03 4.490e-03 6.400e-03 5.880e-03 5.460e-03
 1.532e-02 6.310e-03 9.510e-03 9.300e-03 9.220e-03 9.570e-03 5.210e-03
 4.330e-03 6.300e-03 8.020e-03 7.840e-03 8.440e-03 6.680e-03 5.630e-03
 6.800e-03 7.340e-03 6.770e-03 5.590e-03 6.690e-03 4.820e-03 7.880e-03
 7.800e-03 5.920e-03 8.600e-03]
Unique values in UAG: [5.000e-04 6.800e-04 0.000e+00 1.570e-03 4.400e-04 3.800e-04 3.300e-04
 3.600e-04 3.500e-04 7.700e-04 8.700e-04 5.700e-04 5.300e-04 1.030e-03
 7.900e-04 8.000e-04 5.500e-04 9.600e-04 1.220e-03 4.700e-04 3.900e-04
 1.490e-03 8.100e-04 6.500e-04 2.900e-04 2.000e-04 4.600e-04 9.000e-04
 6.000e-05 4.800e-04 1.130e-03 6.100e-04 4.500e-04 4.300e-04 7.100e-04
 4.900e-04 1.100e-04 3.200e-04 8.400e-04 6.300e-04 1.600e-04 4.600e-03
 8.600e-04 4.000e-04 6.400e-04 9.500e-04 5.100e-04 1.530e-03 3.000e-04
 3.100e-04 9.700e-04 8.200e-04 1.400e-04 8.900e-04 7.400e-04 7.500e-04
 7.200e-04 1.100e-03 4.100e-04 3.700e-04 5.900e-04 1.630e-03 8.500e-04
 1.230e-03 1.010e-03 1.520e-03 5.600e-04 1.420e-03 1.320e-03 1.200e-04
 1.200e-03 1.020e-03 2.500e-04 2.040e-03 8.800e-04 1.090e-03 5.400e-04
 1.900e-04 1.120e-03 7.600e-04 2.050e-03 1.830e-03 9.100e-04 9.300e-04
 2.300e-04 6.900e-04 1.340e-03 2.140e-03 1.260e-03 1.150e-03 7.000e-04
 1.700e-04 1.000e-04 6.700e-04 9.200e-04 1.310e-03 1.740e-03 1.040e-03
 2.100e-03 1.800e-04 1.070e-03 1.000e-05 5.000e-05 2.200e-04 1.060e-03
 9.000e-05 2.700e-04 2.400e-04 4.200e-04 5.800e-04 1.080e-03 1.480e-03
 1.660e-03 9.900e-04 1.390e-03 8.300e-04 3.150e-03 1.760e-03 4.770e-03
 2.820e-03 1.140e-03 5.200e-04 2.370e-03 6.600e-04 1.160e-03 2.580e-03
 2.090e-03 2.000e-03 2.440e-03 3.350e-03 1.330e-03 2.520e-03 3.440e-03
 1.790e-03 1.190e-03 1.500e-04 1.240e-03 2.330e-03 2.680e-03 4.000e-05
 1.900e-03 1.820e-03 2.600e-03 2.100e-04 2.800e-04 1.580e-03 1.350e-03
 6.200e-04 2.030e-03 1.460e-03 2.060e-03 1.620e-03 1.730e-03 1.590e-03
 1.540e-03 2.710e-03 5.430e-03 3.460e-03 6.000e-04 2.150e-03 1.280e-03
 2.400e-03 2.010e-03 1.750e-03 2.600e-04 1.300e-03 3.070e-03 1.850e-03
 3.400e-04 1.700e-03 1.990e-03 2.560e-03 1.950e-03 1.910e-03 1.180e-03
 6.500e-03 1.550e-03 1.980e-03 1.770e-03 1.640e-03 9.400e-04 2.890e-03
 1.890e-03 1.380e-03 8.000e-05 4.150e-03 1.500e-03 2.170e-03 3.300e-03
 3.000e-03 6.980e-03 1.170e-03 2.230e-03 1.810e-03 7.800e-04 3.500e-03
 2.360e-03 2.220e-03 1.920e-03 2.290e-03 2.070e-03 2.240e-03 1.360e-03
 1.470e-03 1.800e-03 1.680e-03 9.800e-04 1.250e-03 1.780e-03 2.960e-03
 1.410e-03 1.290e-03 2.210e-03 3.000e-05 3.140e-03 7.000e-05 1.430e-03
 1.560e-03 1.440e-03 2.020e-03 7.300e-04 2.510e-03 2.970e-03 1.210e-03
 1.050e-03 1.710e-03 2.790e-03 1.270e-03 1.300e-04 2.420e-03 3.720e-03
 1.610e-03 1.510e-03 3.570e-03 2.000e-05 2.280e-03 1.000e-03 2.120e-03
 1.600e-03 3.080e-03 4.070e-03 3.960e-03 5.000e-03 1.370e-03 2.470e-03
 2.670e-03 1.670e-03 3.060e-03 1.110e-03 1.400e-03 4.950e-03 1.870e-03
 2.500e-03 1.720e-03 1.650e-03 1.840e-03 2.390e-03 2.310e-03 2.270e-03
 2.380e-03 1.970e-03 2.130e-03 1.450e-03 2.920e-03 2.620e-03 2.300e-03
 2.460e-03 2.660e-03 2.200e-03 1.960e-03 2.190e-03 3.490e-03 3.530e-03
 2.530e-03 2.750e-03 2.320e-03 2.590e-03 1.860e-03 3.550e-03 7.660e-03
 7.350e-03 1.690e-03 2.570e-03 1.880e-03 2.110e-03 2.473e-02 3.130e-03
 3.750e-03 3.420e-03 3.730e-03 2.260e-03 2.430e-03 1.771e-02 2.730e-03
 2.080e-03 7.490e-03 3.370e-03 2.760e-03 3.910e-03 4.390e-03 4.060e-03
 2.561e-02 3.890e-03 3.020e-03 3.410e-03 6.070e-03 1.420e-02 2.410e-03
 3.980e-03 2.630e-03 2.980e-03 1.017e-02 3.650e-03 3.090e-03 7.640e-03
 4.530e-03 1.940e-03 1.930e-03 2.160e-03 6.960e-03 1.142e-02 4.100e-03
 1.250e-02 4.140e-03 4.640e-03 4.940e-03 1.245e-02 2.350e-03 3.470e-03
 3.290e-03 2.340e-03 8.310e-03 1.233e-02 1.046e-02 3.540e-03 6.570e-03
 9.700e-03 2.720e-03 5.780e-03 6.020e-03 4.270e-03 4.280e-03 9.100e-03
 3.270e-03 3.160e-03 1.113e-02 3.630e-03 7.300e-03 4.430e-03 1.262e-02
 5.270e-03 1.101e-02 1.340e-02 9.890e-03 3.260e-03 3.180e-03 2.690e-03
 3.480e-03 2.830e-03 2.650e-03 2.990e-03 2.450e-03 2.490e-03 4.970e-03
 3.880e-03 6.370e-03 7.850e-03 2.870e-03 2.900e-03 1.786e-02 4.230e-03
 2.880e-03 5.960e-03 5.660e-03 3.320e-03 2.930e-03 3.860e-03 2.910e-03
 2.940e-03 2.950e-03 5.700e-03 3.100e-03 2.180e-03 3.520e-03 3.280e-03
 5.850e-03 6.100e-03 6.700e-03 2.250e-03 4.710e-03 3.200e-03 1.029e-02
 5.160e-03 2.850e-03 3.400e-03 3.830e-03 2.540e-03 5.750e-03 3.840e-03
 2.480e-03 2.800e-03 5.320e-03 3.710e-03 3.040e-03 3.990e-03 2.810e-03
 5.290e-03 2.700e-03 3.600e-03 3.120e-03 3.190e-03 5.300e-03 4.040e-03
 8.940e-03 4.090e-03 3.580e-03 3.870e-03 3.170e-03 6.300e-03 4.020e-03
 2.640e-03 3.210e-03]
Unique values in UGA: [0.      0.00144 0.00131 ... 0.01936 0.01901 0.00638]

In [8]:
# let's check do I have columns with only one unique value
unique_values = df.columns[df.nunique() == 1]
unique_values

Index([], dtype='object')

In [9]:
df["Kingdom"].value_counts()

Kingdom
bct    2920
vrl    2832
pln    2523
vrt    2077
inv    1345
mam     572
phg     220
rod     215
pri     180
arc     126
plm      18
Name: count, dtype: int64

In [10]:
# Kingdom colum shows biological groups,
# bct = bacteria, vrl = virus
# pln = plant
# inv = invertebrate, mam = mammal 
# To understand better those abbreviations, I used QWEN 3MAX.

In [11]:
#  I am going to drop those classes which have few samples.
df= df[~df["Kingdom"].isin(["arc", "inv", "mam", "phg", "plm",  "pri", "rod"])]
df.shape

(10352, 69)

In [12]:
df["Kingdom"].value_counts()

Kingdom
bct    2920
vrl    2832
pln    2523
vrt    2077
Name: count, dtype: int64

In [13]:
# The classes'name are ambiguous, I am going map them.
kingdom_map = {'bct':'Bacteria', 'vrl':'Virus', 'pln':'Plant', 'vrt':'Vertebrate'}
df['Kingdom'] = df['Kingdom'].map(kingdom_map)

In [14]:
df['DNAtype'].value_counts()

DNAtype
0    7737
1    1765
2     815
4      28
3       2
9       2
6       1
7       1
5       1
Name: count, dtype: int64

In [15]:
# Having ID number and Species name is cheat code for model.
df = df.drop(columns=['SpeciesID','SpeciesName', 'DNAtype'])

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10352 entries, 0 to 12060
Data columns (total 66 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Kingdom  10352 non-null  object
 1   Ncodons  10352 non-null  int64
 2   UUU      10350 non-null  float64
 3   UUC      10351 non-null  float64
 4   UUA      10352 non-null  float64
 5   UUG      10352 non-null  float64
 6   CUU      10352 non-null  float64
 7   CUC      10352 non-null  float64
 8   CUA      10352 non-null  float64
 9   CUG      10352 non-null  float64
 10  AUU      10352 non-null  float64
 11  AUC      10352 non-null  float64
 12  AUA      10352 non-null  float64
 13  AUG      10352 non-null  float64
 14  GUU      10352 non-null  float64
 15  GUC      10352 non-null  float64
 16  GUA      10352 non-null  float64
 17  GUG      10352 non-null  float64
 18  GCU      10352 non-null  float64
 19  GCC      10352 non-null  float64
 20  GCA      10352 non-null  float64
 21  GCG      10352 non-null  float64
 22  CCU      10352 non-null  float64
 23  CCC      10352 non-null  float64
 24  CCA      10352 non-null  float64
 25  CCG      10352 non-null  float64
 26  UGG      10352 non-null  float64
 27  GGU      10352 non-null  float64
 28  GGC      10352 non-null  float64
 29  GGA      10352 non-null  float64
 30  GGG      10352 non-null  float64
 31  UCU      10352 non-null  float64
 32  UCC      10352 non-null  float64
 33  UCA      10352 non-null  float64
 34  UCG      10352 non-null  float64
 35  AGU      10352 non-null  float64
 36  AGC      10352 non-null  float64
 37  ACU      10352 non-null  float64
 38  ACC      10352 non-null  float64
 39  ACA      10352 non-null  float64
 40  ACG      10352 non-null  float64
 41  UAU      10352 non-null  float64
 42  UAC      10352 non-null  float64
 43  CAA      10352 non-null  float64
 44  CAG      10352 non-null  float64
 45  AAU      10352 non-null  float64
 46  AAC      10352 non-null  float64
 47  UGU      10352 non-null  float64
 48  UGC      10352 non-null  float64
 49  CAU      10352 non-null  float64
 50  CAC      10352 non-null  float64
 51  AAA      10352 non-null  float64
 52  AAG      10352 non-null  float64
 53  CGU      10352 non-null  float64
 54  CGC      10352 non-null  float64
 55  CGA      10352 non-null  float64
 56  CGG      10352 non-null  float64
 57  AGA      10352 non-null  float64
 58  AGG      10352 non-null  float64
 59  GAU      10352 non-null  float64
 60  GAC      10352 non-null  float64
 61  GAA      10352 non-null  float64
 62  GAG      10352 non-null  float64
 63  UAA      10352 non-null  float64
 64  UAG      10352 non-null  float64
 65  UGA      10352 non-null  float64
dtypes: float64(64), int64(1), object(1)
memory usage: 5.3+ MB

In [17]:
df[['UUU','UUC']].isna().sum()

UUU    2
UUC    1
dtype: int64

In [18]:
# there are not many NaN values, I can drop 
df =df.dropna(subset=['UUU','UUC'])

In [19]:
# Now I have to convert Kingdom column to numerical values
class_encoder =LabelEncoder()
df['Kingdom']= class_encoder.fit_transform(df['Kingdom'])
df['Kingdom'].value_counts()

Kingdom
0    2919
3    2831
1    2523
2    2077
Name: count, dtype: int64

In [20]:
summary = df.describe().T
summary

,count,mean,std,min,25%,50%,75%,max
Kingdom,10350.0,1.465700,1.166219,0.0,0.000000,1.000000,3.000000,3.000000e+00
Ncodons,10350.0,80976.708599,593271.618032,1000.0,1576.000000,2904.000000,9768.500000,3.413228e+07
UUU,10350.0,0.023592,0.014709,0.0,0.013590,0.021820,0.031140,1.298300e-01
UUC,10350.0,0.022631,0.011124,0.0,0.015030,0.021345,0.028047,9.169000e-02
UUA,10350.0,0.019010,0.017759,0.0,0.005258,0.014940,0.028170,1.411300e-01
...,...,...,...,...,...,...,...,...
GAA,10350.0,0.028824,0.014110,0.0,0.018162,0.027100,0.037120,1.448900e-01
GAG,10350.0,0.022366,0.014445,0.0,0.011633,0.021305,0.031238,1.585500e-01
UAA,10350.0,0.001546,0.001441,0.0,0.000520,0.001300,0.002270,1.942000e-02
UAG,10350.0,0.000588,0.000848,0.0,0.000000,0.000430,0.000840,2.561000e-02
UGA,10350.0,0.004965,0.009340,0.0,0.000350,0.000980,0.002170,1.067000e-01

In [21]:
# Ncodons is skewed,  what I see from median and mean. 
# UAG, UAA, and UGA are very close to zero, when I asked GPT, the response was: 
# These are condon, which instruction for cell to adds one amino acid for building  protein. 
# When it is very low that means, STOP building the chain.

In [22]:
print("class mapping:",dict(zip(class_encoder.classes_,range(len(class_encoder.classes_)))))
# classes are imbalanced, I will handle it later.

class mapping: {'Bacteria': 0, 'Plant': 1, 'Vertebrate': 2, 'Virus': 3}

In [23]:
# let's check can I find any useful information from those columns and kingdom column
stoped_condons = ['UAG', 'UAA', 'UGA']
for column in stoped_condons:
    grouped = df.groupby("Kingdom")[column].quantile([0.5, 0.95, 0.99]).unstack().round(4)
    print(f"\n{column}:")
    display(grouped)
# The gap between 0.5 and 0.95 is very big, but between 0.95 and 0.99 is not that big
# that means there are some outliers in the data, but not many.

UAG:

           0.50    0.95    0.99
Kingdom
0        0.0005  0.0014  0.0021
1        0.0004  0.0018  0.0033
2        0.0004  0.0029  0.0043
3        0.0004  0.0018  0.0029

UAA:

           0.50    0.95    0.99
Kingdom
0        0.0013  0.0032  0.0046
1        0.0010  0.0032  0.0049
2        0.0024  0.0070  0.0078
3        0.0009  0.0036  0.0046

UGA:

           0.50    0.95    0.99
Kingdom
0        0.0011  0.0034  0.0080
1        0.0008  0.0028  0.0133
2        0.0242  0.0316  0.0370
3        0.0005  0.0022  0.0035

### Filteing the best columns

In [24]:
# My aim was to merge redundant columns, 64 columns is too much for analysis.
X = df.drop(columns=['Kingdom'])
y = df['Kingdom']
print(X.shape, y.shape)
print(y.value_counts())

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42, stratify=y)

(10350, 65) (10350,)
Kingdom
0    2919
3    2831
1    2523
2    2077
Name: count, dtype: int64

In [25]:
# Selecting the best features for this ds is hard, this is a hard ds. 
# So I am going create pipeline from many methods and using cv.

# Spliting training data into stratified folds.
cv = StratifiedKFold(5, shuffle=True, random_state=42)

ks= [k for k in (10, 15, 20, 25, 30) if k <= x_train.shape[1]]

pipe=Pipeline([("ros", RandomOverSampler(random_state=42)), ("sel", SelectKBest(mutual_info_classif)),
               ("rf", RandomForestClassifier(n_estimators=300, random_state=42, n_jobs=-1))])

search = GridSearchCV(pipe, {"sel__k": ks}, scoring="f1_macro", cv=cv, n_jobs=-1).fit(x_train, y_train)
print("k_best:", search.best_params_["sel__k"])
print("cv_macro_f1:", round(search.best_score_, 4))
print(x_train.columns[search.best_estimator_.named_steps["sel"].get_support()].tolist())

# For debugging, I used QWEN 3MAX.

k_best: 30
cv_macro_f1: 0.941
['Ncodons', 'UUG', 'CUU', 'CUC', 'CUA', 'AUC', 'AUA', 'GUG', 'GCC', 'GCG', 'CCA', 'CCG', 'UGG', 'GGU', 'GGC', 'UCU', 'ACC', 'ACA', 'CAG', 'UGU', 'AAA', 'AAG', 'CGU', 'CGC', 'AGA', 'AGG', 'GAU', 'GAA', 'GAG', 'UGA']

In [26]:
# Creating a new df based on selected features and target column.
df = x_train.loc[:, x_train.columns[search.best_estimator_.named_steps["sel"].get_support()]].assign(Kingdom=y_train.values)
df.shape

(7245, 31)

In [27]:
df.head()

,Ncodons,UUG,CUU,CUC,CUA,AUC,AUA,GUG,GCC,GCG,...,AAG,CGU,CGC,AGA,AGG,GAU,GAA,GAG,UGA,Kingdom
5958,21810,0.01453,0.02196,0.01389,0.01385,0.02054,0.01293,0.01087,0.01137,0.01013,...,0.02082,0.01137,0.00628,0.01032,0.00523,0.03586,0.03966,0.02577,0.00023,0
6339,1428,0.02311,0.02101,0.00000,0.02101,0.02031,0.00420,0.01050,0.01891,0.00840,...,0.00420,0.02731,0.00840,0.01050,0.00420,0.03782,0.05252,0.01471,0.00000,1
7209,1028,0.01946,0.00584,0.00292,0.00000,0.03016,0.00292,0.00681,0.01751,0.00097,...,0.01362,0.00681,0.00000,0.01362,0.00097,0.04280,0.04086,0.01654,0.00097,1
3684,6779,0.01814,0.01269,0.00693,0.00428,0.01608,0.00605,0.02095,0.01578,0.01888,...,0.02641,0.00944,0.00752,0.00561,0.00162,0.04617,0.03216,0.02449,0.00030,0
4293,963629,0.01906,0.01080,0.00322,0.00960,0.01468,0.00688,0.01466,0.01279,0.01405,...,0.01211,0.01328,0.00606,0.00607,0.00114,0.03664,0.06177,0.01263,0.00045,0

In [32]:
df.columns

Index(['Ncodons', 'UUG', 'CUU', 'CUC', 'CUA', 'AUC', 'AUA', 'GUG', 'GCC',
       'GCG', 'CCA', 'CCG', 'UGG', 'GGU', 'GGC', 'UCU', 'ACC', 'ACA', 'CAG',
       'UGU', 'AAA', 'AAG', 'CGU', 'CGC', 'AGA', 'AGG', 'GAU', 'GAA', 'GAG',
       'UGA', 'Kingdom'],
      dtype='object')

In [34]:
# Handling the imbalanced classes:
# I am aiming to create a pipeline to try different method like smote, random oversampling, ADASYN and compare them 
x = df.drop(columns=['Kingdom'])
y = df['Kingdom']
print(y.value_counts())
x_train, x_test, y_train, y_test = train_test_split( x, y, test_size=0.25, random_state=42, stratify=y)

Kingdom
0    2043
3    1982
1    1766
2    1454
Name: count, dtype: int64

In [35]:
X = df.drop(columns=["Kingdom"]).astype(float)
vif = pd.Series([variance_inflation_factor(X.values, i) for i in range(X.shape[1])], index=X.columns)
print("VIF:", vif )
print(vif.sort_values(ascending=False).head(10).round(1))

VIF: Ncodons     1.036454
UUG         7.631089
CUU         8.225078
CUC         9.384572
CUA        11.290893
AUC        14.121818
AUA         6.687741
GUG        10.052428
GCC        16.282472
GCG        11.375568
CCA         8.233641
CCG        10.917677
UGG         8.170837
GGU         8.338945
GGC        15.828050
UCU         8.149001
ACC        13.849620
ACA         9.029703
CAG         9.155549
UGU         4.683440
AAA        12.200386
AAG        10.390357
CGU         5.760085
CGC        11.471107
AGA         8.807220
AGG         5.687761
GAU        17.095038
GAA        16.415642
GAG        12.955065
UGA         9.261443
dtype: float64
GAU    17.1
GAA    16.4
GCC    16.3
GGC    15.8
AUC    14.1
ACC    13.8
GAG    13.0
AAA    12.2
CGC    11.5
GCG    11.4
dtype: float64

In [36]:
high_vif = vif[vif > 10].sort_values(ascending=False).index.tolist()
high_vif

# I am gonna drop those columns with high VIF.
df = df.drop(columns=high_vif)
df.shape

(7245, 17)

In [44]:
# Check duplicated rows
df.duplicated().sum()
df = df.drop_duplicates()

In [57]:
features = df.columns.drop('Kingdom')
iso_mpdel = IsolationForest(contamination=0.05, random_state=42, n_jobs=-1).fit_predict(df[features]) == -1
print(f"Isolation forest outliers:{iso_mpdel.sum()}")

Isolation forest outliers:343

In [58]:
Q1 = df[features].quantile(0.25)
Q3 = df[features].quantile(0.75)
IQR = Q3 - Q1
iqr_outlier = ((df[features] < (Q1 - 1.5*IQR)) | (df[features] > (Q3 + 1.5*IQR))).any(axis=1)
print("IQR outliers:", iqr_outlier.sum())

IQR outliers: 2922

In [59]:
print(f"Both flagged:{(iqr_outlier & iso_mpdel).sum()}")
df = df[~(iqr_outlier & iso_mpdel)]
df.shape

Both flagged:338

(6509, 18)

In [60]:
from scipy import stats

In [61]:
# Find noisy values using z-score (|z| > 3) and replace with median
features = df.columns.drop('Kingdom')
z = np.abs(stats.zscore(df[features]))
noisy_mask = z > 3
print("Noisy values per column:")
print(noisy_mask.sum().to_string())

Noisy values per column:
Ncodons      56
UUG          24
CUU          93
CUC          78
AUA          62
CCA          38
UGG          46
GGU          57
UCU          91
ACA          27
CAG          37
UGU          97
CGU          46
AGA          22
AGG          39
UGA         270
iso_flag      0

In [62]:
# Replace noisy values with column median
for col in features:
    median_val = df[col].median()
    df.loc[noisy_mask[col], col] = median_val
print(f"Total noisy values replaced: {noisy_mask.sum().sum()}")
print(f"Shape unchanged: {df.shape}")

Total noisy values replaced: 1083
Shape unchanged: (6509, 18)

In [63]:
# Check class overlap: compare class means relative to pooled std
class_means = df.groupby('Kingdom')[features].mean()
pooled_std = df[features].std()
# Range of class means / pooled std = separability score
sep = (class_means.max() - class_means.min()) / pooled_std
print("Separability score per feature (higher = less overlap):")
print(sep.sort_values().round(3).to_string())

Separability score per feature (higher = less overlap):
Ncodons     0.662
CAG         0.902
CUU         1.093
AUA         1.144
GGU         1.167
UCU         1.203
UGG         1.298
CUC         1.312
CGU         1.340
ACA         1.374
AGG         1.396
UGU         1.410
CCA         1.435
UUG         1.491
AGA         1.541
UGA         1.697
iso_flag      NaN

In [64]:
df.shape

(6509, 18)

In [ ]:
# Handling the imbalanced classes based on macro f1, which means all classes are important equally.
# The highest average f1 score across all classes is the best.
# I am gonna use 3 different methods: RandomOverSampler, SMOTE, BorderlineSMOTE 

# Training with  original data
# RandomOverSampler, this method copies the miniority 
# smote, creating new samples of minority 
# Border, that is similar to smote but it focuses on borderline samples.

oversampling_setup ={"Base":None,"ROS":RandomOverSampler(random_state=42),  
                    "SMOTE":SMOTE(random_state=42),"BORDER":BorderlineSMOTE(random_state=42)}



best_f1_average= ("", float("-inf"), float("-inf"))
for name, method in oversampling_setup.items():
    # First, I am going to use the original data without oversampling.
    if method is None:
        x_train_oversampled, y_train_oversampled = x_train, y_train
    else :
        x_train_oversampled, y_train_oversampled= method.fit_resample(x_train, y_train)

    print(f"\n{name} train counts after:",Counter(y_train_oversampled))
    model = RandomForestClassifier(n_estimators=500, random_state=42,n_jobs=-1).fit(x_train_oversampled, y_train_oversampled)
    predicted_class = model.predict(x_test)
    # Calculating the f1 score for each class 
    f_score_per_class =f1_score(y_test, predicted_class, average=None)
    macro= f1_score(y_test, predicted_class, average="macro")
    smallest_value =float(f_score_per_class.min())

    print("macro_f1:",round(macro,4),"per_class_f1:",[round(score,4) for score in f_score_per_class])
    if (macro>best_f1_average[1])or(macro==best_f1_average[1]and smallest_value>best_f1_average[2]):best_f1_average=(name, macro, smallest_value)

print(f"\nBest F1 average: {best_f1_average[0]}. macro={best_f1_average[1]:.4f}, min_class_f1={best_f1_average[2]:.4f}")
# ROS model has the best macro f1 score.
# For debuuging the tuple initialization with sentinel values and best score tracking, I used QWEN 3MAX.

Base train counts after: Counter({0: 2189, 3: 2123, 1: 1892, 2: 1558})
macro_f1: 0.964 per_class_f1: [0.9705, 0.9449, 0.9864, 0.954]

ROS train counts after: Counter({3: 2189, 1: 2189, 2: 2189, 0: 2189})
macro_f1: 0.9639 per_class_f1: [0.9705, 0.9448, 0.9854, 0.9548]

SMOTE train counts after: Counter({3: 2189, 1: 2189, 2: 2189, 0: 2189})
macro_f1: 0.9638 per_class_f1: [0.9698, 0.944, 0.9844, 0.9572]

BORDER train counts after: Counter({3: 2189, 1: 2189, 2: 2189, 0: 2189})
macro_f1: 0.9647 per_class_f1: [0.9719, 0.9445, 0.9864, 0.9559]

Best F1 average: BORDER. macro=0.9647, min_class_f1=0.9445